{% extends 'main.twig' %}

{% block stylesheets %}{% endblock %}

{% block script_include %}{% endblock %}

{% block page_header %} 

{% endblock %}

{% block page_content %}



                        <div class="col-md-4 ftco-animate">
							<a href="/images/image_1.jpg" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(images/image_1.jpg);">
								<div class="overlay"></div>
								<div class="text text-center">
									<h3>Work 01</h3>
									<span class="tag">Model</span>
								</div>
							</a>
						</div>



{% endblock %}