{% extends 'admin_main.twig' %}

{% block stylesheets %}{% endblock %}

{% block script_include %}{% endblock %}

{% block page_header %} 

{% endblock %}

{% block page_content %}

			<section class="ftco-section bg-light ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text align-items-center">
	          <div class="col-md-9 ftco-animate">
	            <h1 class="mb-3 bread">Admin oldal</h1>
	            <p>Itt tudsz feltölteni új képeket,megadni személyes adatokat és módosítani,hogy mi jelenjen meg rólad!</p>
                <p>A feltöltéshez menj az upload menüpontra és add meg a kép adatait!Ha mindent jól csináltál(és én is),akkor a Gallery menüpontban meg kell,hogy jelenjen!</p>
                <p>Az about me menüpontban módosíthatod a leírást ami megjelenik rólad a főoldalon!</p>
                <p>(U.I.:Bocsi a megjelenési dolgokért,a designon még dolgozom!)</p>
	          </div>

                    </div>
                </div>
			</section>








{% endblock %}